/* ==========================================================================
   Base
   ========================================================================== */
.blockPadding .row {
  margin: 0;
}
.blockPadding div[class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}
/*div[class^="col-"] {
    .transition(all 0.2s ease);
}*/
@font-face {
  font-family: 'Univers';
  src: url('../fonts/universltstd-ultracn-webfont.eot');
  src: url('../fonts/universltstd-ultracn-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/universltstd-ultracn-webfont.woff') format('woff'), url('../fonts/universltstd-ultracn-webfont.ttf') format('truetype'), url('../fonts/universltstd-ultracn-webfont.svg#UniversLTStd59UltraCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
.univers {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.bree {
  font-family: 'Bree Serif', serif;
}
.alegreya {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
}
.small_text {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 500;
}
.large_text {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 48px;
  line-height: 1;
}
.large_bree {
  font-family: 'Bree Serif', serif;
  font-size: 50px;
  line-height: 1;
}
body,
input,
select,
button {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  color: #6d6d6d;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
}
.btn {
  padding: 10px 40px;
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #FFFFFF;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f2f2f2;
  webkit-box-shadow: 0px 3px 0px #d9d9d9;
  -moz-box-shadow: 0px 3px 0px #d9d9d9;
  box-shadow: 0px 3px 0px #d9d9d9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.btn:hover,
.btn:focus,
.btn:active {
  background: #f2f2f2;
  webkit-box-shadow: 0px 3px 0px #d9d9d9;
  -moz-box-shadow: 0px 3px 0px #d9d9d9;
  box-shadow: 0px 3px 0px #d9d9d9;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.btn.btn-block {
  padding-left: 0;
  padding-right: 0;
}
.btn.grey {
  color: #555555;
}
.btn.yellow {
  background: #eac159;
  webkit-box-shadow: 0px 3px 0px #d1a840;
  -moz-box-shadow: 0px 3px 0px #d1a840;
  box-shadow: 0px 3px 0px #d1a840;
}
.btn.yellow:hover,
.btn.yellow:focus,
.btn.yellow:active {
  background: #cca650;
  webkit-box-shadow: 0px 3px 0px #b38d37;
  -moz-box-shadow: 0px 3px 0px #b38d37;
  box-shadow: 0px 3px 0px #b38d37;
}
.btn.yellowMedium {
  background: #cca650;
  webkit-box-shadow: 0px 3px 0px #b38d37;
  -moz-box-shadow: 0px 3px 0px #b38d37;
  box-shadow: 0px 3px 0px #b38d37;
}
.btn.yellowMedium:hover,
.btn.yellowMedium:focus,
.btn.yellowMedium:active {
  background: #a58442;
  webkit-box-shadow: 0px 3px 0px #8c6b29;
  -moz-box-shadow: 0px 3px 0px #8c6b29;
  box-shadow: 0px 3px 0px #8c6b29;
}
.btn.yellowDark {
  background: #a58442;
  webkit-box-shadow: 0px 3px 0px #8c6b29;
  -moz-box-shadow: 0px 3px 0px #8c6b29;
  box-shadow: 0px 3px 0px #8c6b29;
}
.btn.yellowDark:hover,
.btn.yellowDark:focus,
.btn.yellowDark:active {
  background: #896843;
  webkit-box-shadow: 0px 3px 0px #704f2a;
  -moz-box-shadow: 0px 3px 0px #704f2a;
  box-shadow: 0px 3px 0px #704f2a;
}
.btn.red {
  background: #e8695b;
  webkit-box-shadow: 0px 3px 0px #cf5042;
  -moz-box-shadow: 0px 3px 0px #cf5042;
  box-shadow: 0px 3px 0px #cf5042;
}
.btn.red:hover,
.btn.red:focus,
.btn.red:active {
  background: #c6574b;
  webkit-box-shadow: 0px 3px 0px #ad3e32;
  -moz-box-shadow: 0px 3px 0px #ad3e32;
  box-shadow: 0px 3px 0px #ad3e32;
}
.btn.redMedium {
  background: #c6574b;
  webkit-box-shadow: 0px 3px 0px #ad3e32;
  -moz-box-shadow: 0px 3px 0px #ad3e32;
  box-shadow: 0px 3px 0px #ad3e32;
}
.btn.redMedium:hover,
.btn.redMedium:focus,
.btn.redMedium:active {
  background: #8e3f39;
  webkit-box-shadow: 0px 3px 0px #752620;
  -moz-box-shadow: 0px 3px 0px #752620;
  box-shadow: 0px 3px 0px #752620;
}
.btn.redDark {
  background: #8e3f39;
  webkit-box-shadow: 0px 3px 0px #752620;
  -moz-box-shadow: 0px 3px 0px #752620;
  box-shadow: 0px 3px 0px #752620;
}
.btn.redDark:hover,
.btn.redDark:focus,
.btn.redDark:active {
  background: #6b3530;
  webkit-box-shadow: 0px 3px 0px #521c17;
  -moz-box-shadow: 0px 3px 0px #521c17;
  box-shadow: 0px 3px 0px #521c17;
}
.btn.blue {
  background: #6296f4;
  webkit-box-shadow: 0px 3px 0px #497ddb;
  -moz-box-shadow: 0px 3px 0px #497ddb;
  box-shadow: 0px 3px 0px #497ddb;
}
.btn.blue:hover,
.btn.blue:focus,
.btn.blue:active {
  background: #5686ce;
  webkit-box-shadow: 0px 3px 0px #3d6db5;
  -moz-box-shadow: 0px 3px 0px #3d6db5;
  box-shadow: 0px 3px 0px #3d6db5;
}
.btn.blueMedium {
  background: #5686ce;
  webkit-box-shadow: 0px 3px 0px #3d6db5;
  -moz-box-shadow: 0px 3px 0px #3d6db5;
  box-shadow: 0px 3px 0px #3d6db5;
}
.btn.blueMedium:hover,
.btn.blueMedium:focus,
.btn.blueMedium:active {
  background: #4b75b2;
  webkit-box-shadow: 0px 3px 0px #325c99;
  -moz-box-shadow: 0px 3px 0px #325c99;
  box-shadow: 0px 3px 0px #325c99;
}
.btn.blueDark {
  background: #4b75b2;
  webkit-box-shadow: 0px 3px 0px #325c99;
  -moz-box-shadow: 0px 3px 0px #325c99;
  box-shadow: 0px 3px 0px #325c99;
}
.btn.blueDark:hover,
.btn.blueDark:focus,
.btn.blueDark:active {
  background: #3c618c;
  webkit-box-shadow: 0px 3px 0px #234873;
  -moz-box-shadow: 0px 3px 0px #234873;
  box-shadow: 0px 3px 0px #234873;
}
.btn.green {
  background: #0fedc2;
  webkit-box-shadow: 0px 3px 0px #00d4a9;
  -moz-box-shadow: 0px 3px 0px #00d4a9;
  box-shadow: 0px 3px 0px #00d4a9;
}
.btn.green:hover,
.btn.green:focus,
.btn.green:active {
  background: #11d3ae;
  webkit-box-shadow: 0px 3px 0px #00ba95;
  -moz-box-shadow: 0px 3px 0px #00ba95;
  box-shadow: 0px 3px 0px #00ba95;
}
.btn.greenMedium {
  background: #11d3ae;
  webkit-box-shadow: 0px 3px 0px #00ba95;
  -moz-box-shadow: 0px 3px 0px #00ba95;
  box-shadow: 0px 3px 0px #00ba95;
}
.btn.greenMedium:hover,
.btn.greenMedium:focus,
.btn.greenMedium:active {
  background: #11ba99;
  webkit-box-shadow: 0px 3px 0px #00a180;
  -moz-box-shadow: 0px 3px 0px #00a180;
  box-shadow: 0px 3px 0px #00a180;
}
.btn.greenDark {
  background: #11ba99;
  webkit-box-shadow: 0px 3px 0px #00a180;
  -moz-box-shadow: 0px 3px 0px #00a180;
  box-shadow: 0px 3px 0px #00a180;
}
.btn.greenDark:hover,
.btn.greenDark:focus,
.btn.greenDark:active {
  background: #129e83;
  webkit-box-shadow: 0px 3px 0px #00856a;
  -moz-box-shadow: 0px 3px 0px #00856a;
  box-shadow: 0px 3px 0px #00856a;
}
.btn.orange {
  background: #f29764;
  webkit-box-shadow: 0px 3px 0px #d97e4b;
  -moz-box-shadow: 0px 3px 0px #d97e4b;
  box-shadow: 0px 3px 0px #d97e4b;
}
.btn.orange:hover,
.btn.orange:focus,
.btn.orange:active {
  background: #dd885e;
  webkit-box-shadow: 0px 3px 0px #c46f45;
  -moz-box-shadow: 0px 3px 0px #c46f45;
  box-shadow: 0px 3px 0px #c46f45;
}
.btn.orangeMedium {
  background: #dd885e;
  webkit-box-shadow: 0px 3px 0px #c46f45;
  -moz-box-shadow: 0px 3px 0px #c46f45;
  box-shadow: 0px 3px 0px #c46f45;
}
.btn.orangeMedium:hover,
.btn.orangeMedium:focus,
.btn.orangeMedium:active {
  background: #bc7150;
  webkit-box-shadow: 0px 3px 0px #a35837;
  -moz-box-shadow: 0px 3px 0px #a35837;
  box-shadow: 0px 3px 0px #a35837;
}
.btn.orangeDark {
  background: #bc7150;
  webkit-box-shadow: 0px 3px 0px #a35837;
  -moz-box-shadow: 0px 3px 0px #a35837;
  box-shadow: 0px 3px 0px #a35837;
}
.btn.orangeDark:hover,
.btn.orangeDark:focus,
.btn.orangeDark:active {
  background: #a86248;
  webkit-box-shadow: 0px 3px 0px #8f492f;
  -moz-box-shadow: 0px 3px 0px #8f492f;
  box-shadow: 0px 3px 0px #8f492f;
}
div#placeholder {
  color: #eeeeee;
}
label {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 500;
}
.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: transparent;
  border: 2px solid #cccccc;
  color: #6d6d6d;
}
.form-control:focus {
  border-color: #aaaaaa;
  outline: 0;
  box-shadow: none;
}
.form_icon_group {
  position: relative;
}
.form_icon_group .form-control {
  padding-left: 35px;
}
.form_icon_group .fa {
  color: #bc7150;
  position: absolute;
  top: 9px;
  left: 15px;
}
.navbar {
  background: #ffffff;
  border: 0;
  margin: 0;
}
.navbar .navbar-header {
  float: none;
}
.navbar .navbar-brand {
  float: none;
  padding: 15px 0;
  margin: 0 0 0 0;
  display: block;
  text-align: center;
  width: 100%;
}
.navbar .navbar-brand a {
  display: inline-block;
  text-align: center;
}
.navbar .navbar-brand a:hover {
  text-decoration: none;
}
.navbar .navbar-brand h1 {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-size: 25px;
  color: #6d6d6d;
  display: block !important;
}
.navbar .navbar-brand h1 span {
  color: #898989;
}
.navbar .navbar-toggle {
  display: block;
  float: left;
  background: #6D6D6D;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  height: 60px;
  width: 60px;
  padding: 20px;
  text-align: center;
}
.navbar .navbar-toggle i {
  color: #ffffff;
  font-size: 20px;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:focus {
  background-color: #565656;
  outline: none;
}
.mp-menu {
  background: #6d6d6d;
}
.mp-menu ul li a {
  padding: 7px 20px;
  text-shadow: none;
}
.mp-menu ul li a span {
  color: #ffffff;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: none;
  box-shadow: none;
}
.mp-menu ul li a .big {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
}
.mp-menu ul li a .small_text {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-size: 10px;
  letter-spacing: 4px;
}
.mp-menu ul li a:hover,
.mp-menu ul li a:focus,
.mp-menu ul li a:active {
  text-decoration: none;
}
.carousel-control i {
  font-size: 60px;
  top: 50%;
  margin-top: -30px;
  position: absolute;
  box-shadow: none;
  text-shadow: none;
}
.triblock .row {
  margin: 0;
}
.triblock div[class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}
#home .visit {
  padding: 45px 0;
  background: #F2F2F2;
  text-align: center;
}
#home .visit h2 {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #eac159;
  margin: 0;
  font-size: 40px;
}
#home .visit h2 span {
  font-family: 'Bree Serif', serif;
  color: #6d6d6d;
  text-transform: uppercase;
}
#home .visit .small_text {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #aaaaaa;
  display: block;
  margin-bottom: 10px;
}
#home .jesus_changes {
  padding: 45px 0;
  background: #EAC159;
  text-align: center;
}
#home .jesus_changes h2 {
  color: #ffffff;
  font-family: 'Bree Serif', serif;
  text-transform: lowercase;
  font-size: 60px;
  margin: 0 0 15px;
}
#home .jesus_changes .small_text {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #6d6d6d;
  display: block;
  margin-bottom: -10px;
}
#home .differently {
  background: #f8f8f8;
  padding: 30px 20px;
}
#home .differently .small_text {
  font-size: 15px;
  color: #c6574b;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
#home .differently .large_text {
  color: #e8695b;
  margin: 5px 0;
}
#home .different_features .row {
  margin: 0;
}
#home .different_features div[class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}
#home .different_features .block {
  text-align: center;
  padding: 30px 20px;
}
#home .different_features .block .option {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c6574b;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #8e3f39;
}
#home .different_features .block .small_text {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  margin-bottom: 0;
}
#home .different_features .block .large_text {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #c6574b;
}
#home .different_features .block .fa {
  font-size: 125px;
  color: #e8695b;
}
#home .different_features .block.factory {
  background: #e8695b;
}
#home .different_features .block.saturday {
  background: #c6574b;
}
#home .different_features .block.saturday .option {
  border-bottom: 1px solid #8e3f39;
}
#home .different_features .block.saturday .large_text {
  color: #8e3f39;
}
#home .different_features .block.dinner {
  background: #8e3f39;
}
#home .different_features .block.dinner .option {
  color: #e8695b;
  border-bottom: 1px solid #e8695b;
}
#home .different_features .block.dinner .large_text {
  color: #e8695b;
}
#home .night_format {
  text-align: center;
  background: #f2f2f2;
  padding: 30px 0;
}
#home .night_format .container {
  max-width: 900px;
}
#home .night_format .small_text {
  color: #e8695b;
}
#home .night_format .clock {
  position: relative;
}
#home .night_format .clock .fa {
  font-size: 30px;
  color: #c6574b;
}
#home .night_format .clock span {
  display: inline-block;
}
#home .night_format .clock span:before,
#home .night_format .clock span:after {
  border-top: 1px solid #e8695b;
  display: block;
  height: 1px;
  content: " ";
  width: 47%;
  position: absolute;
  left: 0;
  top: 15px;
}
#home .night_format .clock span:after {
  right: 0;
  left: auto;
}
#home .night_format .time {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #8e3f39;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
#home .night_format .time span {
  font-size: 16px;
}
#home .night_format .large_text {
  color: #e8695b;
}
#home .night_format .col-sm-2 {
  margin-bottom: 20px;
}
#home .instagram_feed {
  padding: 30px 0;
  background: #f8f8f8;
  text-align: center;
}
#home .instagram_feed .row.instagram_section {
  margin-top: 20px;
  margin-bottom: 20px;
}
#home .instagram_feed .top {
  margin-bottom: 20px;
}
#home .instagram_feed .row {
  margin: 0;
}
#home .instagram_feed div[class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}
#home .instagram_feed .large_bree {
  margin-top: -20px;
  color: #6296f4;
}
#home .instagram_feed .col-sm-1 {
  width: 12.5%;
}
#home .instagram_feed .col-sm-2 {
  width: 25%;
}
#home .instagram_feed .image img {
  width: 100%;
  height: auto;
}
/* ==========================================================================
   Header
   ========================================================================== */
/* ==========================================================================
   Footer
   ========================================================================== */
.site-footer {
  background: #cccccc;
  padding: 30px 0;
  clear: both;
}
.site-footer .footer_links {
  clear: both;
}
.site-footer .footer_links .group {
  text-align: center;
}
.site-footer .footer_links .group a {
  color: #6d6d6d;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}
.site-footer .follow_us {
  text-align: center;
}
.site-footer .follow_us p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 5px;
  text-align: center;
}
.site-footer .follow_us a {
  display: inline-block;
  text-align: center;
  height: 35px;
  width: 35px;
  padding: 9px;
  margin: 0 2px;
  background: #ffffff;
}
.site-footer .follow_us a.facebook {
  background: #3B5998;
}
.site-footer .follow_us a.facebook:hover {
  background: #32477c;
}
.site-footer .follow_us a.twitter {
  background: #4099FF;
}
.site-footer .follow_us a.twitter:hover {
  background: #357cd1;
}
.site-footer .follow_us a.instagram {
  background: #517fa4;
}
.site-footer .follow_us a.instagram:hover {
  background: #446688;
}
.site-footer .follow_us a i {
  color: #f2f2f2;
  font-size: 18px;
}
/* ==========================================================================
   Jesus
   ========================================================================== */
#jesus .block {
  text-align: center;
}
#jesus .block .large_bree {
  color: #ffffff;
  margin-top: -10px;
  margin-bottom: 20px;
}
#jesus .block p {
  color: #ffffff;
}
#jesus .block .btn {
  width: 200px;
}
#jesus .block.primary {
  background: #eac159;
  padding: 0px 20px;
}
#jesus .block.primary .inner.changes_everything {
  padding: 80px 0;
}
#jesus .block.primary .changes_lives {
  margin: 0 -20px;
}
#jesus .block.primary .changes_lives .small_text {
  display: block;
}
#jesus .block.primary .changes_lives .title {
  background: #cca650;
  padding: 20px 10px;
}
#jesus .block.primary .changes_lives .title .large_text {
  color: #ffffff;
}
#jesus .block.primary .changes_lives .title .inner {
  width: 260px;
}
#jesus .block.primary .changes_lives .links {
  background: #a58442;
  padding: 30px 20px;
}
#jesus .block.primary .changes_lives .links .small_text {
  color: #ffffff;
  margin-bottom: 20px;
}
#jesus .block.primary .changes_lives .links .small_text.most_recent {
  color: #eac159;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#jesus .block.primary .changes_lives .image {
  display: none;
}
#jesus .love_god {
  background: #cca650;
  padding: 45px 20px;
}
#jesus .love_others {
  background: #a58442;
  padding: 45px 20px;
}
#jesus .love_others .btn {
  margin-bottom: 20px;
}
#jesus .inner {
  margin: 0 auto;
}
/* ==========================================================================
   Whats On
   ========================================================================== */
#whatson .block {
  text-align: center;
  padding: 70px 10px;
}
#whatson .block .large_bree {
  color: #ffffff;
}
#whatson .block p {
  color: #ffffff;
  margin-bottom: 20px;
}
#whatson .block .inner {
  width: 260px;
  margin: 0 auto;
}
#whatson .recent {
  text-align: center;
}
#whatson .recent .links {
  background: #f2f2f2;
  padding: 30px 20px;
}
#whatson .recent .links .small_text {
  display: block;
  color: #6296f4;
  margin-bottom: 0px;
}
#whatson .recent .links .small_text.most_recent {
  color: #4b75b2;
  border-bottom: 1px solid #4b75b2;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#whatson .recent .links .small_text.title {
  font-weight: 700;
}
#whatson .recent .links .small_text.date {
  font-weight: 700;
}
#whatson .recent .links .small_text.preacher {
  margin-bottom: 20px;
}
#whatson .recent .image {
  display: none;
}
#whatson .groups {
  background: #6296f4;
}
#whatson .groups .small_text {
  margin-top: -5px;
  color: #4b75b2;
  margin-bottom: 30px;
  display: inline-block;
}
#whatson .groups ul li a {
  padding: 12px 0;
  border-bottom: 1px solid #ffffff;
  display: block;
}
#whatson .groups ul li a .small_text {
  width: 150px;
  color: #ffffff;
  margin: 0 auto;
  display: inline-block;
}
#whatson .groups ul li a:hover {
  text-decoration: none;
}
#whatson .groups ul li a:hover .small_text {
  color: #cccccc;
}
#whatson .groups ul li:last-child a {
  border-bottom: 0;
}
#whatson .sermons {
  background: #5686ce;
}
#whatson .whats_on {
  background: #4b75b2;
}
ul.list_groups li a {
  padding: 12px 0;
  border-bottom: 1px solid #ffffff;
  display: block;
}
ul.list_groups li a .small_text {
  width: 150px;
  color: #ffffff;
  margin: 0 auto;
  display: inline-block;
}
ul.list_groups li a:hover {
  text-decoration: none;
}
ul.list_groups li a:hover .small_text {
  color: #cccccc;
}
ul.list_groups li:last-child a {
  border-bottom: 0;
}
#stories .page_header {
  background: #eac159;
}
#stories .story {
  text-align: center;
  margin-bottom: 15px;
}
#stories .story .info {
  background: #eac159;
  text-align: center;
  padding: 55px;
  height: 180px;
  display: block;
  color: #ffffff;
}
#stories .story .info:hover {
  background: #cca650;
  text-decoration: none;
}
#stories .story .info .inner {
  display: block;
  color: #ffffff;
}
#stories .story .info .inner:hover {
  text-decoration: none;
}
#stories .story .info .inner .small_text {
  color: #6d6d6d;
  margin-bottom: 0;
  display: block;
}
#stories .story .info .inner .large_text {
  font-size: 30px;
  line-height: 30px;
}
#stories .story .image {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
#stories .story .image a {
  display: block;
}
#give .page_header {
  margin-bottom: 0;
}
#give .page_header h2 {
  color: #f29764;
  margin-bottom: 0;
}
#give .page_header .small_text {
  color: #dd885e;
  margin-bottom: 25px;
}
#give .page_header .page_description {
  color: #6d6d6d;
  margin-bottom: 20px;
}
#give .page_header .btn-group .btn {
  display: block;
  margin-bottom: 10px;
  float: none;
}
#give .section {
  padding: 60px 0;
  text-align: center;
  color: #ffffff;
}
#give .section#pray {
  background: #f29764;
}
#give .section#pray .form-control {
  border-color: #dd885e;
}
#give .section#pray .form-control:focus {
  border-color: #a86248;
}
#give .section#donate {
  background: #dd885e;
}
#give .section#donate .give_options .col-sm-4 {
  margin-bottom: 30px;
}
#give .section#donate .give_options .large_text {
  font-size: 24px;
}
#give .section#serve {
  background: #bc7150;
}
#give .section#serve .service_options .col-sm-6 {
  margin-bottom: 50px;
}
#give .section#serve .service_options .large_text {
  font-size: 32px;
  color: #f29764;
}
#give .section#serve .service_options .large_bree {
  font-size: 24px;
  margin-bottom: 20px;
}
#give .section#serve .service_options ul.list_groups li a {
  border-bottom-color: #f29764;
}
#give .section .inner {
  margin: 0 auto;
  width: 260px;
}
#give .section .inner h2 {
  font-size: 36px;
}
#berea .page_header {
  margin-bottom: 0;
  background: #0fedc2;
}
#berea .page_header .large_text {
  margin-bottom: 5px;
}
#berea .page_header .small_text {
  color: #ffffff;
  margin-bottom: 25px;
}
#berea .section {
  background: #f2f2f2;
}
#berea .section .large_text {
  font-size: 32px;
  color: #0fedc2;
}
#berea .section#pathways {
  text-align: center;
  padding: 30px 0;
}
#berea #pathwayOptions .item {
  padding: 50px;
  text-align: center;
}
#berea #pathwayOptions .item .large_text {
  font-size: 32px;
  color: #FFFFFF;
  margin-bottom: 0;
}
#berea #pathwayOptions .item .small_text {
  color: #f2f2f2;
  margin-bottom: 30px;
}
#berea #pathwayOptions .item .btn {
  color: #0fedc2;
}
#berea #pathwayOptions .item .btn:hover {
  background: #e1e1e1;
  webkit-box-shadow: 0px 3px 0px #c8c8c8;
  -moz-box-shadow: 0px 3px 0px #c8c8c8;
  box-shadow: 0px 3px 0px #c8c8c8;
  color: #11d3ae;
}
#berea #pathwayOptions .item.youth {
  background: #0fedc2;
}
#berea #pathwayOptions .item.foundations {
  background: #11d3ae;
}
#berea #pathwayOptions .item.pastors {
  background: #11ba99;
}
#berea #pathwayOptions .item.ministry {
  background: #129e83;
}
#contact .top_block {
  text-align: center;
}
#contact .top_block .large_bree {
  color: #ffffff;
  margin-top: 0;
}
#contact .top_block .small_text {
  color: #11ba99;
}
#contact .contact_our_team {
  background: #0fedc2;
  padding: 30px 15px;
}
#contact .contact_our_team form {
  margin: 30px 0;
}
#contact .contact_our_team label {
  color: #ffffff;
}
#contact .contact_our_team .submit {
  margin-top: 20px;
}
#contact .contact_our_team .form-control {
  border-color: #11ba99;
}
#contact .contact_our_team .form-control:focus {
  border-color: #129e83;
}
#contact .meet_our_team {
  background: #11d3ae;
  padding: 30px 15px;
}
#contact .meet_our_team .description {
  color: #ffffff;
}
#contact .meet_our_team .pastor {
  margin-bottom: 20px;
}
#contact .meet_our_team .pastor .name {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 5px;
  line-height: 1;
}
#contact .meet_our_team .pastor img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  max-width: 167px;
}
#contact .meet_our_team .pastor .title {
  color: #11ba99;
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
}
#contact .meet_our_team .team {
  margin-bottom: 30px;
}
#contact .meet_our_team .btn {
  padding: 10px 90px;
}
/* ==========================================================================
   Content
   ========================================================================== */
.page_header {
  padding: 60px 0;
  background: #f2f2f2;
  text-align: center;
  margin-bottom: 20px;
}
.page_header .small_text {
  color: #6d6d6d;
  margin-bottom: 0;
  display: block;
}
.page_header .large_text {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 25px;
}
.page_header .page_description {
  color: #ffffff;
}
.contact_banner {
  background: #f2f2f2;
  padding: 30px 15px;
  text-align: center;
}
.contact_banner .inner {
  max-width: 550px;
  margin: 0 auto;
}
.contact_banner .inner .univers {
  font-size: 36px;
  line-height: 1;
}
.contact_banner .inner .bree {
  font-size: 40px;
  line-height: 36px;
}
.contact_banner .inner .small_text {
  display: block;
}
.contact_banner .inner .btn {
  margin-top: 5px;
  padding: 13px 0;
}
.contact_banner.green .univers {
  color: #0fedc2;
}
.contact_banner.green .btn {
  background: #0fedc2;
  webkit-box-shadow: 0px 3px 0px #00d4a9;
  -moz-box-shadow: 0px 3px 0px #00d4a9;
  box-shadow: 0px 3px 0px #00d4a9;
}
.contact_banner.green .btn:hover,
.contact_banner.green .btn:focus,
.contact_banner.green .btn:active {
  background: #11d3ae;
  webkit-box-shadow: 0px 3px 0px #00ba95;
  -moz-box-shadow: 0px 3px 0px #00ba95;
  box-shadow: 0px 3px 0px #00ba95;
}
.contact_banner.yellow .univers {
  color: #eac159;
}
.contact_banner.yellow .btn {
  background: #eac159;
  webkit-box-shadow: 0px 3px 0px #d1a840;
  -moz-box-shadow: 0px 3px 0px #d1a840;
  box-shadow: 0px 3px 0px #d1a840;
}
.contact_banner.yellow .btn:hover,
.contact_banner.yellow .btn:focus,
.contact_banner.yellow .btn:active {
  background: #cca650;
  webkit-box-shadow: 0px 3px 0px #b38d37;
  -moz-box-shadow: 0px 3px 0px #b38d37;
  box-shadow: 0px 3px 0px #b38d37;
}
.contact_banner.blue .univers {
  color: #6296f4;
}
.contact_banner.blue .btn {
  background: #6296f4;
  webkit-box-shadow: 0px 3px 0px #497ddb;
  -moz-box-shadow: 0px 3px 0px #497ddb;
  box-shadow: 0px 3px 0px #497ddb;
}
.contact_banner.blue .btn:hover,
.contact_banner.blue .btn:focus,
.contact_banner.blue .btn:active {
  background: #5686ce;
  webkit-box-shadow: 0px 3px 0px #3d6db5;
  -moz-box-shadow: 0px 3px 0px #3d6db5;
  box-shadow: 0px 3px 0px #3d6db5;
}
.contact_banner.orange .univers {
  color: #f29764;
}
.contact_banner.orange .btn {
  background: #f29764;
  webkit-box-shadow: 0px 3px 0px #d97e4b;
  -moz-box-shadow: 0px 3px 0px #d97e4b;
  box-shadow: 0px 3px 0px #d97e4b;
}
.contact_banner.orange .btn:hover,
.contact_banner.orange .btn:focus,
.contact_banner.orange .btn:active {
  background: #dd885e;
  webkit-box-shadow: 0px 3px 0px #c46f45;
  -moz-box-shadow: 0px 3px 0px #c46f45;
  box-shadow: 0px 3px 0px #c46f45;
}
.contact_banner.red .univers {
  color: #e8695b;
}
.contact_banner.red .btn {
  background: #e8695b;
  webkit-box-shadow: 0px 3px 0px #cf5042;
  -moz-box-shadow: 0px 3px 0px #cf5042;
  box-shadow: 0px 3px 0px #cf5042;
}
.contact_banner.red .btn:hover,
.contact_banner.red .btn:focus,
.contact_banner.red .btn:active {
  background: #c6574b;
  webkit-box-shadow: 0px 3px 0px #ad3e32;
  -moz-box-shadow: 0px 3px 0px #ad3e32;
  box-shadow: 0px 3px 0px #ad3e32;
}
.default {
  text-align: center;
  background: #f2f2f2;
}
.default .main {
  margin-bottom: 50px;
}
.default .main .description h3 {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
}
.default .main .description h4 {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
}
.default .subsection {
  padding: 30px 15px;
}
.default .subsection .large_text {
  color: #ffffff;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}
.default .subsection .small_text {
  color: #ffffff;
}
.default .subsection .description {
  color: #ffffff;
}
.default.red .page_header {
  background: #e8695b;
}
.default.red .main h2 {
  color: #e8695b;
  font-size: 48px;
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
}
.default.red .subsection.block1 {
  background: #e8695b;
}
.default.red .subsection.block2 {
  background: #c6574b;
}
.default.red .subsection.block3 {
  background: #8e3f39;
}
.sermons {
  background: #f2f2f2;
}
.sermons h2 {
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 48px;
  color: #6296f4;
  text-align: center;
  margin: 50px 0 40px;
}
.sermon {
  background: #4b75b2;
  text-align: center;
  margin-bottom: 20px;
}
.sermon p {
  font-size: 15px;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 17px;
}
.sermon .date {
  color: #6296f4;
  padding-bottom: 7px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 7px;
}
.sermon .title {
  font-weight: 700;
  color: #ffffff;
}
.sermon .preacher {
  color: #ffffff;
}
.sermon .row {
  margin: 0;
}
.sermon .col-sm-8,
.sermon .col-sm-4 {
  padding: 0;
}
.sermon .inner {
  padding: 60px 50px 0;
  height: 192px;
}
.sermon .audiojs {
  background: #5686ce;
  padding: 15px;
  box-shadow: none;
  width: 100%;
  height: 55px;
}
.sermon .audiojs .play-pause {
  border: 0;
  height: 25px;
  width: 30px;
}
.sermon .audiojs .play-pause i {
  color: #ffffff;
  font-size: 20px;
}
.sermon .audiojs .play-pause i:hover,
.sermon .audiojs .play-pause i:focus,
.sermon .audiojs .play-pause i:active {
  color: #dddddd;
  cursor: pointer;
}
.sermon .audiojs .play-pause .play,
.sermon .audiojs .play-pause .pause,
.sermon .audiojs .play-pause .error,
.sermon .audiojs .play-pause .loading {
  background: none;
}
.sermon .audiojs .scrubber {
  background: #4b75b2;
  height: 7px;
  border: none;
  width: 50%;
}
.sermon .audiojs .scrubber .progress {
  background: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.sermon .audiojs .scrubber .progress:hover {
  cursor: pointer;
}
.sermon .audiojs .scrubber .loaded {
  background: #3c618c;
}
.sermon .audiojs .scrubber .loaded:hover {
  cursor: pointer;
}
.sermon .audiojs .time {
  border: none;
  text-shadow: none;
  font-family: 'Univers', 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 28px;
  position: absolute;
  right: 10px;
}
.sermon .audiojs .error-message {
  width: 60%;
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 28px;
}
.sermon img {
  width: 100%;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */
/* Gallery Shortcode */
.gallery-row {
  padding: 15px 0;
}
/* ==========================================================================
   Sidebar
   ========================================================================== */
/* ==========================================================================
   Posts
   ========================================================================== */
/* ==========================================================================
   Footer
   ========================================================================== */
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/*@import 'style-sm';
@import 'style-md';
@import 'style-lg';*/
@media (min-width: 768px) {
  .large_bree {
    font-family: 'Bree Serif', serif;
    font-size: 70px;
  }
  .navbar .navbar-toggle {
    height: 87px;
    width: 87px;
    padding: 30px;
  }
  .navbar .navbar-brand {
    padding: 24px 0;
    margin: 0 0 0 -85px;
  }
  .navbar .navbar-brand h1 {
    font-size: 36px;
  }
  .page_header {
    margin-bottom: 50px;
  }
  #home .block {
    height: 320px;
  }
  #home .block.visit {
    padding: 100px 0;
  }
  #home .block.jesus_changes {
    padding: 85px 0;
  }
  #home .differently {
    padding: 50px 0;
  }
  #home .night_format {
    padding: 50px 0;
  }
  #home .night_format .time {
    font-size: 22px;
  }
  #home .night_format .time span {
    font-size: 15px;
  }
  #home .night_format .col-sm-2 {
    width: 20%;
    margin-bottom: 30px;
  }
  #home .instagram_feed {
    padding: 60px 0;
  }
  #home .instagram_feed .row.instagram_section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #home .instagram_feed .header {
    margin-bottom: 50px;
  }
  #home .instagram_feed .empty {
    height: 90px;
  }
  .site-footer .footer_links .group {
    float: left;
    margin-right: 50px;
    text-align: left;
  }
  .site-footer .follow_us {
    float: right;
  }
  #jesus .block.primary .inner {
    width: 450px;
  }
  #jesus .block.primary .changes_lives .title .inner {
    width: 260px;
  }
  #jesus .block.primary .changes_lives .links {
    background: #f2f2f2;
  }
  #jesus .block.primary .changes_lives .links .small_text {
    color: #6d6d6d;
  }
  #jesus .block.primary .changes_lives .links .small_text.most_recent {
    color: #cca650;
    border-bottom: 1px solid #a58442;
  }
  #jesus .love_god {
    padding: 60px 20px;
    height: 420px;
  }
  #jesus .love_others {
    height: 420px;
  }
  #jesus .block .inner {
    width: 285px;
    margin: 0 auto;
  }
  #whatson .block .inner {
    width: 270px;
    margin: 0 auto;
  }
  #whatson .sermons {
    height: 430px;
  }
  #whatson .whats_on {
    background: #4b75b2;
    height: 430px;
  }
  #whatson .whats_on .inner {
    width: 320px;
  }
  #whatson .recent .links {
    background: #4b75b2;
    height: 220px;
  }
  #whatson .recent .links .small_text {
    display: block;
    color: #ffffff;
    margin-bottom: 0px;
  }
  #whatson .recent .links .small_text.most_recent {
    color: #6296f4;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  #whatson .recent .links .small_text.title {
    font-weight: 700;
    margin-bottom: 0;
  }
  #whatson .recent .links .small_text.date {
    font-weight: 700;
  }
  #whatson .recent .links .small_text.preacher {
    margin-bottom: 20px;
  }
  #whatson .recent.upcoming_events .links {
    background: #5686ce;
  }
  #whatson .recent.upcoming_events .links .small_text.most_recent {
    color: #ffffff;
  }
  #whatson .recent.upcoming_events .links .small_text.date {
    margin-bottom: 0;
  }
  #stories .story {
    overflow: hidden;
    margin-bottom: 30px;
  }
  #stories .story .info {
    padding-left: 15px;
    padding-right: 180px;
  }
  #stories .story .image {
    width: 180px;
    overflow: hidden;
    display: block;
    margin-right: 15px;
  }
  #stories .story .image img {
    position: relative;
    left: 50%;
    margin-left: -170px;
  }
  #give .page_header {
    margin-bottom: 0;
  }
  #give .page_header .inner {
    width: 425px;
    margin: 0 auto;
  }
  #give .page_header .btn-group .btn {
    display: block;
    margin-bottom: 10px;
    float: left;
  }
  #give .section {
    padding: 60px 0;
    text-align: center;
  }
  #give .section .inner {
    margin: 0 auto;
    width: 425px;
  }
  #give .give_options .btn {
    padding: 10px;
  }
  #give .service_options ul.list_groups {
    width: 300px;
    margin: 0 auto;
  }
  #give .service_options ul.list_groups li a span {
    width: 270px;
  }
  #give .service_options ul.list_groups li a span strong {
    display: block;
  }
  #berea .inner {
    width: 500px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
  }
  #berea .section .large_text {
    margin-bottom: 20px;
  }
  #berea #pathwayOptions .item {
    padding: 90px 0 0;
    text-align: center;
    min-height: 300px;
  }
  #contact .top_block .large_bree {
    margin-top: 0;
    font-size: 70px;
  }
  #contact .top_block .small_text {
    color: #11ba99;
    margin-bottom: 30px;
  }
  #contact .top_block .inner {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding: 60px 0;
  }
  #contact .contact_our_team {
    background: #0fedc2;
  }
  #contact .meet_our_team {
    background: #11d3ae;
  }
  #contact .meet_our_team .small_text {
    margin-bottom: 30px;
    display: inline-block;
  }
  #contact .meet_our_team .description {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    display: block;
    height: 100%;
    max-width: 1600px;
    line-height: 1;
    position: relative;
    left: 50%;
    top: 0;
    margin-left: -800px;
  }
  #home .carousel-inner > .item > img,
  #home .carousel-inner > .item > a > img {
    height: 680px;
    margin-left: -650px;
  }
  #home .block {
    height: 340px;
    padding: 120px 0;
  }
  #home .block.visit {
    padding: 110px 0;
  }
  #home .block.jesus_changes {
    padding: 100px 0;
  }
  #home .different_features .block {
    padding: 50px;
  }
  #home .night_format .time {
    font-size: 24px;
  }
  #home .night_format .time span {
    font-size: 16px;
  }
  #home .instagram_feed .empty {
    height: 118px;
  }
  #jesus .block.primary .inner.changes_everything {
    padding: 113px 10px;
  }
  #jesus .block.primary .changes_lives .title {
    height: 240px;
    padding: 55px 10px;
  }
  #jesus .block.primary .changes_lives .links {
    background: #a58442;
    height: 240px;
    padding: 60px 180px 60px 20px;
  }
  #jesus .block.primary .changes_lives .links .small_text {
    color: #ffffff;
    margin-bottom: 20px;
  }
  #jesus .block.primary .changes_lives .links .small_text.most_recent {
    color: #eac159;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  #jesus .block.primary .changes_lives .links .btn {
    width: 100%;
    max-width: 200px;
  }
  #jesus .block.primary .changes_lives .image {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  #whatson .sermons {
    height: 484px;
  }
  #whatson .whats_on {
    height: 484px;
  }
  #whatson .recent {
    position: relative;
  }
  #whatson .recent .links {
    background: #4b75b2;
    height: 240px;
    padding: 50px 180px 50px 20px;
  }
  #whatson .recent .links .small_text {
    color: #ffffff;
    margin-bottom: 20px;
  }
  #whatson .recent .links .small_text.most_recent {
    color: #6296f4;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  #whatson .recent .links .btn {
    width: 100%;
    max-width: 200px;
  }
  #whatson .recent .image {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  #stories .story .info {
    padding-left: 15px;
    padding-right: 320px;
  }
  #stories .story .image {
    width: 320px;
    overflow: hidden;
    display: block;
    margin-right: 15px;
  }
  #stories .story .image img {
    position: relative;
    left: 50%;
    margin-left: -320px;
  }
  #give .give_options .btn {
    padding: 10px 30px;
  }
  #contact .top_block .inner {
    min-height: 750px;
  }
  .default .container {
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  #home .carousel-inner > .item > img,
  #home .carousel-inner > .item > a > img {
    height: 800px;
    margin-left: -800px;
  }
  #home .block {
    height: 400px;
    padding: 120px 0;
  }
  #home .block.visit {
    padding: 145px 0;
  }
  #home .block.jesus_changes {
    padding: 120px 0;
  }
  #home .different_features .block {
    padding: 70px;
  }
  #home .instagram_feed .empty {
    height: 143px;
  }
}
